.navbar {
  position: fixed;
  top: 20px;
  left: 10%;
  width: 80%;
  height: 80px;
  border: 4px solid #000000;
  border-radius: 20px;
  background: #2c2c2c;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.options {
    padding: 10px;
    font-size: 24px;
    color: #ffffff;
}

.title {
    font-size: 24px;
    color: #ffffff;
}